.header {
  border-bottom: 1px solid;
}

.top-bar {
  background-color: #212529;
  padding: 0;

  .container {
    .row {
      margin: -7px;
      padding: 0;

      .col-md-12 {
        padding: 0;
      }
    }
  }

  p {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    color: #f1f6ff;
    > i {
      margin-right: 5px;
    }

    &:last-child {
      text-align: right;
    }
  }
}

header {
  .navbar {
    margin-bottom: 0;
  }
}

.top-bar {
  li {
    &.top-bar {
      display: inline;
      padding-right: 18px;
      line-height: 52px;
      transition: all 0.3s linear;
      &:hover {
        color: #1bbde8;
      }
    }

    ul {
      &.info {
        i {
          color: #131313;
          font-style: normal;
          margin-right: 8px;
          display: inline-block;
          position: relative;
          top: 4px;
        }

        li {
          float: right;
          padding-left: 30px;
          color: #ffffff;
          font-size: 13px;
          line-height: 44px;

          i span {
            color: #aaa;
            font-size: 13px;
            font-weight: 400;
            line-height: 50px;
            padding-left: 18px;
          }
        }
      }
    }
  }

  ul {
    &.social-network {
      list-style: none;
      margin: 5px 0 10px -25px;
      float: right;
      li {
        display: inline;
        margin: 0 5px;
        border: 0px solid #2d2d2d;
        padding: 5px 0 0;
        width: 32px;
        display: inline-block;
        text-align: center;
        height: 32px;
        vertical-align: baseline;
        color: #000;

        i {
          margin: 0;
        }
      }
    }
  }
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: 0.3s ease-out;
  color: #fff;
}

a {
  color: #0a0a0a;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.bg-image-full {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-dark {
  background-color: #222 !important;
}
.mx-background-top-linear {
  background: linear-gradient(45deg, #11113d 48%, #1b1e21 48%);
}

.form-inline {
  display: flex;
  align-items: center;

  input.form-control {
    width: 100%;
    margin-right: 10px;
    border-radius: 5x;
    padding: 10px;
  }

 
}



.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  li.nav-item {
    margin-left: 20px;

    a.nav-link {
      color: #fff;
    }
  }
}

button.btn-add-sell {
background-color: rgba(26, 97, 204, 1);
color: #fff;
border-radius: 5px;
padding: 10px 20px;
font-size: 14px;
cursor: pointer;
transition: all 0.3s linear;

&:hover {
background-color: #067bf9;
}
}

button.btn-add-cart {
 background-color: rgba(6, 141, 28, 1);
color: #fff;
border-radius: 5px;
padding: 10px 20px;
cursor: pointer;
font-size: 14px;
transition: all 0.3s linear;

&:hover {
background-color: #7b8487;
}

i.fa-solid {
margin-right: 10px;
}
}


button.btn.btn-add-sell,
button.btn.btn-add-cart {
  margin-left: 20px;
}

