@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,500&family=Raleway:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

// body {
//   font-family: 'Montserrat:ital', sans-serif;
//   line-height: 1.6;
//   font-size: 1rem;
//   //color: #333;//
// }

// a {
//   text-decoration: none;
// }

// ul {
//   list-style: none;
// }

// img {
//   width: 100%;
// }
